{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@utils": "./src/utils",
          "@": "./src"
          // 这里可以根据您的需求配置更多别名
        }
      }]
    ]
  }
  