.navbar {
    background-color: hsl(var(--background)); /* 使用深色背景 */
    border-bottom: 1px solid hsl(var(--border));
    display: flex;
    align-items: center;
    padding: 12px;
    position: sticky;
}

.navbar h1 {
    margin: 0;
    color: hsl(var(--primary)); /* logo文字改为霓虹色 */
    font-size: 1.5em;
}

.navbar-menu ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar-menu li {
    padding: 0.5em 0.75em;
}

.navbar-logo {
    padding: 0.25em 0.5em;
}

.navbar-login-logout {
    margin-left: auto;
    padding: 0.25em 0.5em;
}

.log-link {
    color: hsl(var(--primary)); /* 登录和注册链接调整为霓虹色 */
    text-decoration: none;
}

.log-link:hover {
    color: hsl(var(--accent)); /* 鼠标悬停时的颜色 */
}

.navbar-link {
    color: hsl(var(--primary-foreground));
    text-decoration: none;
}

.navbar-link:hover {
    color: hsl(var(--accent));
}
