@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 64% 13%;  /* 深蓝色背景 */
    --foreground: 40 90% 60%;   /* 霓虹蓝作为前景色 */
  
    --primary: 330 100% 50%;    /* 霓虹粉红色 */
    --primary-foreground: 210 40% 98%; /* 白色文本 */
  
    --secondary: 140 100% 40%;  /* 霓虹绿色 */
    --secondary-foreground: 210 40% 98%; /* 白色文本 */
  
    --accent: 60 100% 50%;      /* 霓虹黄色 */
    --accent-foreground: 222.2 47.4% 11.2%; /* 深色文本 */
  
    --destructive: 0 80% 50%;   /* 明亮的红色 */
    --destructive-foreground: 210 40% 98%; /* 白色文本 */
  
    --ring: 216 34% 17%;        /* 柔和蓝色，用于轮廓 */
    
    --input: 214.3 31.8% 91.4%; /* 浅色输入框 */
    --border: 290 100% 50%;     /* 霓虹紫色，用于边框 */
    --card: 0 0% 15%;           /* 深色卡片背景 */
    --card-foreground: 222.2 47.4% 11.2%; /* 深色文本 */
    --card-text-color: 60 100% 50%; /* 设置文字颜色为黄色 */
  
    --radius: 0.5rem;           /* 边角半径，保持一致性 */
  }



  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    background-color: hsl(224, 71%, 4%); /* 深蓝色背景 */
  }
  
  /* 仅在主页应用特定背景样式 */
  .homepage {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 150px, hsl(224, 71%, 4%) 800px), url('banner1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  
}

/* filepath: client\src\styles\globals.css */
.container {
  max-width: 1200px; /* 或您希望的最大宽度 */
  margin: 0 auto; /* 水平居中 */
  padding: 0 15px; /* 留点内边距, 根据实际需要调整 */
}

.grid-cols-dynamic {
  /* 设置一个最小列宽150px, 网格列数根据容器宽度自动调整 */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.card {
  @apply bg-card text-card-foreground shadow-lg rounded-lg overflow-hidden;
  /* 其他你想要的样式 */
}

.card-title,
.card-description {
 color: hsl(var(--card-text-color)); /* 使用变量 */
}